@use './Global.module' as g;

.todoList {
  & .list {
    text-align: left;
    padding-inline-start: 16px;
  }
  & .inputArea {
    margin-bottom: 16px;
  }
  & .input {
    margin-right: 10px;
  }
}
