.todoList {
  & .list {
    text-align: left;
    padding-inline-start: 16px;
  }
  & .inputArea {
    margin-bottom: 16px;
  }
  & .input {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px 5px;
    box-sizing: border-box;
    text-align: left;
  }
  & .button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 6px;
    box-sizing: border-box;
    background-color: #c6c4c4;
  }
}
